<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ticket</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<script th:src="@{/js/script.js}" defer></script>
<body>
<h1>Create Ticket</h1>
<div class="form-container">
    <form th:action="@{/tickets/create}" th:object="${ticketForm}" method="post">
        <header class="ticket-header">
            <div class="ticket-title">
                <label for="title">Issue:</label>
                <input th:field="*{title}" id="title">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
        </header>
        <div id="hidden-file-inputs"></div>
        <div class="ticket-body">
            <label for="description">Description:</label>
            <textarea th:field="*{description}" id="description"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            <input type="file" id="fileInput" multiple>
            <p id="status"></p>
        </div>
        <footer class="ticket-footer">
            <div class="ticket-button">
                <button onclick="uploadNewFile()" type="button" id="submitBtn">Create Ticket</button>
            </div>
        </footer>
    </form>
</div>

</body>
</html>
