<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Ticket</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Edit Ticket</h1>
<div class="form-container">

    <form th:action="@{/tickets/{id}/edit(id=${ticketId})}" th:object="${ticketForm}" method="post">
        <header class="ticket-header">
            <div class="ticket-title">
                <label for="title">Issue:</label>
                <input th:field="*{title}" id="title">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
        </header>
        <div class="ticket-body">
            <label for="description">Description:</label>
            <textarea th:field="*{description}" id="description"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            <input type="hidden" id="fileNameHidden" th:field="*{fileName}">
            <input type="file" id="fileInput">
            <p id="status"></p>
        </div>
        <footer class="ticket-footer">
            <div class="ticket-button">
                <button onclick="uploadNewFile()" type="button">Save Changes</button>
                <a th:href="@{/user}">Cancel</a>
            </div>
        </footer>
    </form>
</div>
</body>
</html>
