<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Register</h1>
<div class="form-container">
    <form th:action="@{/register}" th:object="${registerForm}" method="post">
        <header class="register-header">
            <div class="register-username">
                <label for="username">Username:</label>
                <input th:field="*{username}" id="username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
        </header>
        <div class="register-body">
            <div class="register-email">
                <label for="email">Email:</label>
                <input th:field="*{email}" id="email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" id="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <footer class="register-footer">
            <div class="register-button">
                <button type="submit">Register</button>
                <a th:href="@{/}" class="btn btn-secondary">Go back to start</a>
            </div>
        </footer>
    </form>
</div>
</body>
</html>
