<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<div class="page-wrapper">
    <div class="page-header">
        <h1>Uploaded Files</h1>
        <div class="ticket-actions">
            <a th:href="@{/user}" class="btn btn-secondary">user page</a>
        </div>
    </div>
    <section>
        <table>
            <thead>
            <tr>
                <th>File Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.getFilename()}"></td>
                <td>
                    <button th:data-file="${file.getS3Key()}"
                            onclick="downloadFile(this.getAttribute('data-file'))"
                            class="button">Download</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <p><a th:href="@{/user}"></a></p>
</div>

</main>
</body>
</html>