<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    async function fetchAFile(){
        const response = await apiReq('/upload/api/files');
        if (!response) return;
        const files = await response.json();
        const body = document.getElementById('fileTableBody')
        body.innerHTML = '';
        files.forEach(file => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                    <td>${file}</td>
                    <td><button onclick="downloadFile('${file}')" class="button">Download</button></td>
                `;
            body.appendChild(tr);
        });
    }

    async function downloadFile(fileName) {
        const res = await apiReq(`/upload/api/files/download-url?fileName=${encodeURIComponent(fileName)}`);
        if (!res) return;

        const {url} = await res.json();
        window.open(url, '_blank');

    }

    async function uploadNewFile(){
        var input = document.getElementById('fileInput').files;
        const file = input.files[0];
        const status = document.getElementById('status');
        status.innerText = "getting url";

        try{
            const res = await apiReq(`/upload/api/files/upload-url?fileName=${encodeURIComponent(file.name)}&contentType=${encodeURIComponent(file.type)}`);
            if (!res) return;
            const {url} = await res.json();

            status.innerText = "uploading to s3 service";
            const putRes = await fetch(url, {
                method: 'PUT',
                body: file,
                headers: {'Content-Type': file.type}
            });

            if (putRes.ok){
                status.innerText = 'successful upload';

                await apiReq(`/upload/api/files/callback?fileName=${encodeURIComponent(file.name)}`, {
                    method: 'POST'
                });

                status.innerText = 'Upload and notification has been successfully done';
                fetchAFile();
                input.innerText="";
            } else {
                status.innerText = 'failed to upload' + putRes.status;
            }
        } catch (error){
            status.innerText = 'error ' + error.message;
        }
    }
    async function apiReq(url, options = {}){
        // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        // const csrfHeader = document.querySelector('meta[name="_crsf_header"]').getAttribute('content');
        options.credentials = options.credentials || "same-origin";
        options.headers = options.headers || {};
        options.redirect = 'manual';
        const method = options.method ? options.method.toUpperCase() : 'GET';
        //  if (method !== 'GET' && method !== 'HEAD'){
        //    options.headers[csrfHeader] = csrfToken;
        //}
        const res = await fetch(url, options);
        if (res.status === 401 || res.status === 403) {
            console.warn("auth issue, reloading....");
            window.location.reload();
            return null;
        }
        return res;
    }

    fetchAFile();
</script>
<body>
<header>
    <h1>This is a test for file uploads</h1>
</header>
<main>
    <p>
        create a form for uploads
    </p>
    <table>
        <thead>
        <tr>File Name</tr>
        </thead>
        <tbody id="fileTableBody">
        <tr></tr>
        </tbody>
    </table>
    <div>
        <input type="file" id="fileInput">
        <button onclick="uploadNewFile()" class="button">upload</button>
        <p id="status"></p>
    </div>
</main>
</body>
</html>