<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>This is a test for file uploads</h1>
</header>
<main>
    <p>
        create a form for uploads
    </p>
    <table>
        <thead>
        <tr>File Name</tr>
        </thead>
        <tbody id="fileTableBody">
        <tr></tr>
        </tbody>
    </table>
    <div>
        <input type="file" id="fileInput">
        <button onclick="uploadNewFile()" class="button">upload</button>
        <p id="status"></p>
    </div>
</main>
</body>
</html>